.current-weather {
  margin-top: 20px;
}

.city {
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2.2px;
}

.icon {
  height: 300px;
  width: 300px;
}

.icon-temp {
  display: flex;
  justify-content: space-around;
}

.icon-div {
  margin-right: -180px;
}

.temps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -180px;
}

.temp {
  font-size: 120px;
  font-weight: 900;
  color: #fff;
}

.min-max-temp {
  display: flex;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 24px;
  background-color: rgba(255, 255, 255, 0.1);
}

.max-temp {
  border-right: 2px solid #fff;
  padding-right: 10px;
}

.min-temp {
  padding-left: 10px;
}

.min-temp,
.max-temp {
  display: flex;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  align-items: center;
}

.fa-arrow-up,
.fa-arrow-down {
  margin-right: 6px;
  color: #fff
}

.other-conditions {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
}

.feels-like,
.clouds,
.wind,
.pressure,
.humidity {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 25px 30px;
}

.fa-thermometer-half,
.fa-cloud,
.fa-wind,
.fa-level-down-alt,
.fa-tint {
  color: #326dde;
  margin-right: 22px;
}

.cond-title {
  font-size: 18px;
  font-weight: 900;
}

.value {
  font-size: 14px;
  margin-top: 8px;
}

.date {
  color: #fff;
  font-size: 13px;
  font-style: italic;
  margin-top: 20px;
  float: right;
}

.date span {
  font-weight: 900;
  font-size: 16px;
}


/* Responsive design */
@media(max-width: 1340px) {
  .other-conditions {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 1160px) {
  .icon-div {
    margin-right: -100px;
  }
  
  .temps {
    margin-left: -100px;
  }
}

@media(max-width: 1000px) {
  .icon-div {
    margin-right: -50px;
  }
  
  .temps {
    margin-left: -50px;
  }
}

@media(max-width: 800px) {
  .current-weather {
    margin-top: 0px;
  }

  .icon {
    height: 250px;
    width: 250px;
  }

  .temp {
    font-size: 100px;
  }

  .other-conditions {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 750px) {
  .icon-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .icon-div {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .icon {
    height: 150px;
    width: 200px;
  }

  .temps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

@media(max-width: 600px) {
  .other-conditions {
    grid-template-columns: repeat(1, 1fr);
  }

  .temp {
    font-size: 70px;
  }
}