.current-weather {
  margin-top: 20px;
}

.city {
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2.2px;
}

.icon {
  height: 300px;
  width: 300px;
}

.icon-temp {
  display: flex;
  justify-content: space-around;
}

.temps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp {
  font-size: 120px;
  font-weight: 900;
  color: #fff;

}

.min-max-temp {
  display: flex;
  color: #fff;
}

.min-temp,
.max-temp {
  display: flex;
}