* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(utils/svg.png);
  background-color: #326dde;
}

.container {
  margin: 0 140px;
  display: grid;
  grid-auto-flow: row;
}